@charset "UTF-8";
body{
    background-image: url(../img/DSC_0365.jpg),url(../img/21.png);
    background-repeat: no-repeat,no-repeat;
    background-color: lightblue;
    margin:5px;
}
#text-shadow{
    padding: 0 40px;
    font-size: 30px;
}
.neon{
     color:white;
     text-shadow: 0px 0px 5px white,
                  0px 0px 13px deeppink,
                  0px 0px 13px deeppink,
                  0px 0px 13px deeppink,
                  0px 0px 13px deeppink;}
